<p>
  Welcome in the <em>Cookbook</em>!
</p>
<ul><% @recipes.each_with_index do |recipe, index| %>
  <li><%= recipe.name %>: <%= recipe.description %> - Preparation time : <%= recipe.prep_time %> <a href="/recipes/<%= index %>">Delete</a></li>
  <% end %>
</ul>
<br></br>
<a href="/new">Add a recipe</a>
        